header
div(role='main')
	a#btn-test(href="#", onclick="return false;", style="position: absolute;top: 1em;right: 30px;") hover
	a#btn-test2(href="#", onclick="return false;", style="position: absolute;top: 3em;right: 30px;") opaque
	div#app
footer